body {
    background: rgb(125, 198, 205);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(239, 80, 41);
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 0 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 10px;
}
a {
    text-decoration: none;
    color: #2fe71e;
}

/* main container area beneath menu */
main {
    background: rgb(213, 10, 228);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 20px;
}

/* portfolio styles */
#interests {
    border: 4px rgb(32, 149, 221) dotted;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}
/* style.css */
.sidebar-img {
    width: 300px;
}
main {
    white-space: nowrap;
    width: 1700x;
    border: 10px solid #16c28e;
    overflow: hidden;
    text-overflow: circle;
             /* portfolio styles */
             .content h1 {
                color: black;
            }
   
            #portfolio {
                list-style-type: none;
                padding-left: 0;
            }
   
            #portfolio li {
                background: #fff;
                padding: 10px;
                border-radius: 10px;
                margin-bottom: 10px;
            }
   
            #portfolio li:hover {
                background: #eee;
            }
   
            #portfolio a {
                text-decoration: none;
                color: rgb(70, 196, 205);
            }
                        /* responsive web design */
                        @media screen and (min-width: 120px) and (max-width: 1080px) {
                            main {
                              height: 100ch;
                              zoom: 1.5;
                              display: grid;
                            }
              
                            h1 {
                              font-size: 44px;
                            }
              
                            h2 {
                              font-size: 42px;
                            }
              
                            h3 {
                              font-size: 1000px;
                            }
              
                            #all-contents {
                              height: 100ch;
                              margin: none;
                            }
              
                            a {
                              font-size: 42px;
                            }
              
                            .sidebar {
                              margin-right: 0px;
                              justify-content: center;
                              align-items: center;
                            }
              
                            .sidebar-img {
                              width: 100%;
                            }
              
                            p,
                            li {
                              font-size: 20px;
                            }
              
                            .content {
                              align-content: center;
                              justify-content: center;
                            }
                        }            
                        font-size: 30px;
                        color: #1ac217;
                        text-align: center;
                        -webkit-animation: glow 1s ease-in-out infinite alternate;
                        -moz-animation: glow 1s ease-in-out infinite alternate;
                        animation: glow .5s ease-in-out infinite alternate;
                      }
                      @keyframes glow {
                            from {
                              text-shadow: 0 0 10px #0a0908, 0 0 20px #fff, 0 0 30px #8e28c9, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
                            }
                            to {
                              text-shadow: 0 0 20px #1a7998, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
                            }
                          }
                        #glow{
                          color:rgb(54, 32, 221)
                        }
                        #glowing {
                          background-size: unset;
                        }